<div>
    <h2 id="page-heading">
        <span>Customers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer" [routerLink]="['/customer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Customer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="customers?.length === 0">
        <span>No customers found</span>
    </div>
    <div class="table-responsive" *ngIf="customers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span>Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contactNumber"><span>Contact Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address"><span>Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="postal"><span>Postal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isAgreeTerms"><span>Is Agree Terms</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedDate"><span>Updated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activatedDate"><span>Activated Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="country.id"><span>Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let customer of customers ;trackBy: trackId">
                <td><a [routerLink]="['/customer', customer.id, 'view' ]">{{customer.id}}</a></td>
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.contactNumber}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.postal}}</td>
                <td>{{customer.isAgreeTerms}}</td>
                <td>{{customer.createdDate | date:'medium'}}</td>
                <td>{{customer.updatedDate | date:'medium'}}</td>
                <td>{{customer.activatedDate | date:'medium'}}</td>
                <td>{{customer.status}}</td>
                <td>
                    <div *ngIf="customer.country">
                        <a [routerLink]="['/country', customer.country?.id, 'view' ]" >{{customer.country?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/customer', customer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/customer', customer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/customer', { outlets: { popup: customer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
